<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KanKun Hack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF83248F1C4CE3CB00FBBD19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF8324A31C4CE3CB00FBBD19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF8324AE1C4CE3CC00FBBD19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
